.container {
  --container-width: 1440px;
  --container-padding: 8px;

  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
